node_modules/
/dist
.tmp
.sass-cache
.DS_Store
*.pyc
*.pyo
*.swp
*~
*.netrc
.sass-cache
*.sublime-project
*.sublime-workspace
py_gpylint.*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.bundle
