.splash {
  width: 100vw;
  height: 100vh;
  background: url('/images/grass.jpg');
}

h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 40px;
  letter-spacing: 0.20em;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

  margin-top: 0;
  padding-left: 25px;
  padding-right: 25px;

  a {
    &,
    &:hover,
    &:active,
    &:visited,
    &:focus {
      color: white;
      text-decoration: none;
    }
  }
}

header {
  h1,
  .btn-group {
    padding-top: 20px;
  }
}
